@import 'css/settings';

.header {
  background-color: $primary;
  padding-inline: 3rem;
  height: $header-height;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__logo {
    img {
      width: 136px;
      height: 20.176px;
    }
  }
  &__content {
    display: flex;
    align-items: center;
    gap: 36px;
    > p {
      margin-bottom: 0;
      color: white;
      font-family: $font-family-1;
      font-size: $font-size-xs;
      font-weight: $font-weight-strong;
      letter-spacing: 0.96px;
      text-transform: uppercase;
    }
  }
  &__menu {
    flex-shrink: 0;
    &__icon {
      width: 29px;
      height: 29px;
    }
    &__content {
      position: fixed;
      padding-block: 10px;
      top: 0;
      right: 0;
      height: 100%;
      z-index: 3;
      transition: all 300ms ease-in-out;
      background-color: white;
      display: flex;
      align-items: center;

      &.--open {
        transform: translateX(0);
      }
      &.--close {
        transform: translateX(100%);
      }
      &__wrap {
        min-width: 543px;
        width: 100%;
        min-height: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-inline: 88px;
        gap: 60px;

        &__close-btn {
          position: absolute;
          right: 2rem;
          top: 10px;
          &__icon.c-icon {
            stroke: $text-color-1;
            width: 51px;
            height: 51px;
            stroke-width: 0px;
          }
        }
        &__title {
          font: $font-weight-bold $font-size-l $font-family-2;
        }
        ul {
          display: flex;
          gap: 28px;
          flex-direction: column;
          padding: 0;
          li {
            list-style: none;
            a {
              display: flex;
              align-items: center;
              gap: 16px;
              font: $font-weight-strong $font-size-m $font-family-1;
              text-transform: uppercase;
              color: $text-color-1;
              border-radius: 22px;
              &:hover {
                text-decoration: underline;
              }
              &:focus-visible {
                outline: $primary auto 1px;
                outline-offset: 8px;
              }
              div {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                .c-icon {
                  width: 22px;
                  height: 22px;
                  &.--lg {
                    width: 24px;
                    height: 24px;
                  }
                }
              }
            }
          }
        }
        &__buttons {
          padding-top: 42px;
          display: flex;
          align-items: flex-end;
          gap: 12px;
          font: $font-weight-strong $font-size-s $font-family-1;
        }
      }
    }
    &__mask {
      position: fixed;
      top: 0;
      right: 0;
      transition: opacity 300ms ease-in-out;
      &.--open {
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: $text-color-1;
        z-index: 2;
        opacity: 0.3;
      }
      &.--close {
        opacity: 0;
        z-index: -10;
      }
    }
  }
  .--transparent.btn.btn-light {
    border: none;
    background-color: transparent;
    box-shadow: none;
    border-radius: 50%;
    &:active {
      background-color: transparent;
      box-shadow: none;
    }
  }
  .btn {
    &:focus-visible {
      outline: $primary auto 1px;
      outline-offset: 2px;
    }
  }
}
