body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-display: swap;
}

label:not(.custom-control-label) {
  margin-bottom: map-get($spacers, 1);
  @include font-size($font-size-s);
  font-weight: $font-weight-bold;
}

.custom-select {
  -moz-appearance: none;
  -webkit-appearance: none;
}
