@import 'css/settings';

.c-world-map {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;

  .exporting-message {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    z-index: 4;
  }

  .container-width {
    // FIXME: next line assumes how the visualisation's layout outside of its parent
    width: unquote('min(100%, calc((100vh - #{2* map-get($spacers, 5)}) * 1 / 0.6666))');
  }

  .container-ratio {
    position: relative;
    width: 100%;
    padding-top: 66.66%;
    overflow: hidden;
  }

  .map-container {
    display: flex;
    align-items: center;
    position: absolute;
    top: rem(26);
    left: 0;
    width: 100%;
    height: calc(100% - #{2 * rem(26)}); // The title and attributions are 26px high
    padding: 0 map-get($spacers, 3);
    background-color: $white;
    -webkit-tap-highlight-color: $white;
    border: rem(1) solid rgba($black, 0.1);

    .world-map-geography {
      outline: 0;
      pointer-events: visibleFill;
    }

    .world-map-arc {
      outline: 0;
      pointer-events: visibleStroke;
    }

    .c-tool-ranking {
      flex-shrink: 0;
      margin-left: map-get($spacers, 3);
    }
  }

  .c-tool-attributions {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: rem(26);
    background-color: $white;
  }

  .title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: rem(26);
    background-color: $white;
    font-weight: $font-weight-bold;
    text-align: center;
    text-transform: uppercase;
  }
}

.c-world-map-tooltip {
  display: flex;
  flex-direction: column;
  width: rem(150);
  text-align: center;
  justify-content: center;

  p {
    margin-bottom: map-get($spacers, 1);
    text-transform: capitalize;
    font-size: $font-size-s;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
