@import 'css/settings';

.c-world-map {
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;

  .world-map-geography {
    outline: 0;
    pointer-events: visibleFill;
  }

  .world-map-arc {
    outline: 0;
    pointer-events: visibleStroke;
  }
}

.c-world-map-tooltip {
  background-color: $background-color-1;
  padding: rem(10px) rem(15px);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;

  p {
    color: $white;
    text-transform: capitalize;
    font-size: rem(14px);
  }
}
