@import 'css/settings';

.c-tool-sidebar {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-basis: rem(300);
  max-height: 100%;
  margin-right: map-get($spacers, 5);

  .content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
    h1 {
      line-height: 3rem; /* 33px */
    }
    h2 {
      font-weight: 400;
      font-size: 30px;
    }

    .scrollable-container {
      margin: map-get($spacers, 2) 0;
      padding: map-get($spacers, 2) 0;
      overflow: auto;
    }

    .note {
      margin-top: map-get($spacers, 2);
      @include font-size($font-size-s);
    }
  }

  .loading-text {
    @include font-size($font-size-m);
  }
}
