@import 'css/settings';

.ReactModal__Overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  z-index: 10; // Needs to be above the z-index of the tooltip
  background-color: rgba($primary, 0.7) !important;
  opacity: 0;
  transform: scale(1.15);
  transition: transform 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946),
    opacity 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946);
  will-change: transform, opacity;

  &.ReactModal__Overlay--after-open {
    opacity: 1;
    transform: scale(1);
    transition: transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946),
      opacity 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
  }
}

.c-modal {
  position: relative;
  display: flex; // Needed by .content to be scrollable
  width: calc(100% - #{2 * map-get($spacers, 4)});
  max-height: calc(100% - #{2 * map-get($spacers, 4)});
  margin: 0 auto;
  padding: map-get($spacers, 5);
  background-color: $body-bg;

  .close-button {
    position: absolute;
    top: -#{map-get($spacers, 2)};
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(30);
    height: rem(30);
    padding: 0;
    border-radius: 100%;
    transform: translateY(-100%);
    background: $body-bg;

    .c-icon {
      width: rem(10);
      height: rem(10);

      use {
        fill: currentColor;
      }
    }

    @include hover() {
      background: $primary;
    }
  }

  .content {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }
}
