.l-static-page {
  position: relative; }
  .l-static-page > .logo {
    position: absolute;
    right: 0;
    top: -0.875rem;
    transform: translateY(-100%);
    display: block;
    height: 1.25rem; }

.c-map {
  width: 100%;
  height: 100%; }
  .c-map > div {
    width: 100% !important;
    height: 100% !important; }
  .c-map .mapboxgl-control-container {
    display: none; }
  .c-map .mapboxgl-popup .mapboxgl-popup-tip {
    position: relative;
    top: -0.125rem;
    border-width: 0.5rem !important; }
    .c-map .mapboxgl-popup .mapboxgl-popup-tip:before {
      position: absolute;
      top: -0.4375rem;
      left: -0.4375rem;
      border: 0.4375rem solid transparent;
      border-top-color: #fff;
      content: ''; }
    .c-map .mapboxgl-popup .mapboxgl-popup-tip:after {
      position: absolute;
      top: -0.375rem;
      left: -0.4375rem;
      border: 0.4375rem solid transparent;
      border-top-color: rgba(34, 34, 34, 0.3);
      z-index: -1;
      content: ''; }
  .c-map .mapboxgl-popup .mapboxgl-popup-content {
    padding: 1rem;
    border-radius: 0.625rem;
    background-color: #fff;
    border: 0.0625rem solid rgba(34, 34, 34, 0.3);
    box-shadow: 0.0625rem 0.0625rem 0.625rem 0 rgba(0, 0, 0, 0.1); }

.c-icon {
  width: 1.375rem;
  height: 1.375rem;
  fill: #222222; }
  .c-icon.-big {
    width: 2.5rem;
    height: 2.5rem; }

.c-accordion > .item > .title {
  cursor: default; }
  .c-accordion > .item > .title .button[aria-expanded='false'] .c-icon {
    transform: rotate(-90deg);
    transform-origin: center; }
  .c-accordion > .item > .title .button .c-icon {
    width: 0.9375rem;
    margin-right: 1rem;
    vertical-align: initial; }
    .c-accordion > .item > .title .button .c-icon use {
      stroke: currentColor; }

.c-accordion > .item > .panel {
  margin: 0.5rem 0; }

.c-map-legend {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1; }
  .c-map-legend.-exporting .vizzuality__c-legend-map {
    width: 18.75rem; }
  .c-map-legend .vizzuality__c-legend-map {
    width: 25rem;
    border: none;
    border-radius: 0;
    background-color: transparent;
    z-index: inherit; }
    .c-map-legend .vizzuality__c-legend-map button.vizzuality__toggle-legend svg {
      margin-top: 0; }
    .c-map-legend .vizzuality__c-legend-map button.vizzuality__close-legend {
      background-color: #fff; }
      .c-map-legend .vizzuality__c-legend-map button.vizzuality__close-legend h1 {
        font-family: "Open Sans", serif;
        font-size: 1rem;
        font-weight: 700 !important; }

li.vizzuality__c-legend-item {
  font-family: "Open Sans", serif;
  font-size: 1rem;
  background-color: #fff;
  border: none;
  border-bottom: 0.0625rem solid rgba(34, 34, 34, 0.3); }
  li.vizzuality__c-legend-item:last-of-type {
    margin-bottom: 0; }
  .c-map-legend.-exporting li.vizzuality__c-legend-item .vizzuality__legend-item-container {
    padding: 0.5rem 1rem; }
    .c-map-legend.-exporting li.vizzuality__c-legend-item .vizzuality__legend-item-container .vizzuality__legend-item-header h3 {
      font-size: 0.8125rem; }
    .c-map-legend.-exporting li.vizzuality__c-legend-item .vizzuality__legend-item-container .vizzuality__c-legend-item-types {
      margin-top: 0.5rem; }
    .c-map-legend.-exporting li.vizzuality__c-legend-item .vizzuality__legend-item-container .c-legend-type-group .c-icon {
      display: none; }
  li.vizzuality__c-legend-item .vizzuality__legend-item-container {
    padding: 0.5rem 1rem 0.5rem 1.875rem; }
    li.vizzuality__c-legend-item .vizzuality__legend-item-container .vizzuality__c-legend-handler {
      top: 0.4375rem;
      left: 0.5rem; }
    li.vizzuality__c-legend-item .vizzuality__legend-item-container .vizzuality__legend-item-header h3 {
      position: relative;
      top: 0.1875rem;
      font-family: "Open Sans", serif;
      font-size: 1rem;
      font-weight: 700; }
    li.vizzuality__c-legend-item .vizzuality__legend-item-container .vizzuality__c-legend-item-toolbar > button {
      width: 1.125rem;
      height: 1rem;
      padding: 0;
      border: 0;
      border-radius: 100%;
      vertical-align: middle; }
      li.vizzuality__c-legend-item .vizzuality__legend-item-container .vizzuality__c-legend-item-toolbar > button:focus {
        box-shadow: 0 0 0 0.2rem rgba(3, 117, 94, 0.25); }
      li.vizzuality__c-legend-item .vizzuality__legend-item-container .vizzuality__c-legend-item-toolbar > button svg {
        display: block;
        width: 100%;
        height: 100%; }
        li.vizzuality__c-legend-item .vizzuality__legend-item-container .vizzuality__c-legend-item-toolbar > button svg use {
          fill: currentColor; }
    li.vizzuality__c-legend-item .vizzuality__legend-item-container .vizzuality__c-legend-item-types {
      margin-top: 1rem;
      font-family: "Open Sans", serif;
      font-size: 0.8125rem;
      background-color: transparent; }
      li.vizzuality__c-legend-item .vizzuality__legend-item-container .vizzuality__c-legend-item-types .vizzuality__c-legend-item-basic {
        align-items: center;
        font-family: inherit;
        font-size: inherit; }
      li.vizzuality__c-legend-item .vizzuality__legend-item-container .vizzuality__c-legend-item-types .vizzuality__c-legend-type-choropleth .vizzuality__name {
        font-family: "Open Sans", serif;
        font-size: 0.8125rem; }
    li.vizzuality__c-legend-item .vizzuality__legend-item-container .c-legend-type-group .c-accordion .title {
      font-size: 0.8125rem; }
      li.vizzuality__c-legend-item .vizzuality__legend-item-container .c-legend-type-group .c-accordion .title .c-icon {
        margin-right: 0.5rem;
        vertical-align: middle; }
      li.vizzuality__c-legend-item .vizzuality__legend-item-container .c-legend-type-group .c-accordion .title .group-color {
        display: inline-block;
        width: 0.75rem;
        height: 0.75rem;
        margin-right: 0.5rem;
        vertical-align: middle; }
    li.vizzuality__c-legend-item .vizzuality__legend-item-container .c-legend-type-group .c-accordion .vizzuality__c-legend-item-types {
      margin: 0; }
    li.vizzuality__c-legend-item .vizzuality__legend-item-container .vizzuality__c-legend-timestep {
      min-height: 2.5rem;
      margin-top: 1rem; }
      li.vizzuality__c-legend-item .vizzuality__legend-item-container .vizzuality__c-legend-timestep .vizzuality__player-btn {
        width: 2.25rem;
        height: 2.25rem;
        justify-content: center;
        align-items: center;
        color: #fff;
        background-color: #03755e;
        border-radius: 100%; }
        li.vizzuality__c-legend-item .vizzuality__legend-item-container .vizzuality__c-legend-timestep .vizzuality__player-btn:focus {
          box-shadow: 0 0 0 0.2rem rgba(3, 117, 94, 0.25); }
        li.vizzuality__c-legend-item .vizzuality__legend-item-container .vizzuality__c-legend-timestep .vizzuality__player-btn > svg {
          fill: currentColor; }

div.c-rc-tooltip.-default .rc-tooltip-inner {
  padding: 0.5rem;
  font-family: "Open Sans", serif;
  font-size: 0.75rem;
  line-height: inherit;
  color: #222222;
  border: none;
  border-radius: 0;
  background-color: #fff;
  box-shadow: 0.0625rem 0.0625rem 0.625rem 0 rgba(0, 0, 0, 0.2); }

div.c-rc-tooltip.-default .rc-tooltip-arrow {
  border-top-color: #fff !important; }

div.c-rc-tooltip.-default .vizzuality__c-legend-item-button-opacity-tooltip .vizzuality__slider-tooltip-container {
  padding: 0.5rem 0.5rem 1.5rem; }

.rc-slider .rc-slider-handle {
  background-color: #fff !important;
  border: 0.1875rem solid #03755e !important;
  box-shadow: none !important; }
  .rc-slider .rc-slider-handle:focus {
    box-shadow: 0 0 0 0.2rem rgba(3, 117, 94, 0.25) !important; }

.rc-slider .rc-slider-track:not(.rc-slider-track-1):not(.rc-slider-track-2),
.rc-slider .rc-slider-track-1 {
  background-color: #03755e !important; }

.rc-slider .rc-slider-rail,
.rc-slider .rc-slider-track-2 {
  background-color: rgba(3, 117, 94, 0.2); }

.rc-slider .rc-slider-dot {
  background-color: #fff !important;
  border: 0.1875rem solid #03755e !important;
  box-shadow: none !important;
  visibility: visible !important; }

.rc-slider .rc-slider-mark-text {
  font-family: "Open Sans", serif;
  font-size: 0.75rem;
  color: #222222 !important; }

.c-radio .custom-control-input:checked:not(:disabled):active ~ .custom-control-label:before {
  background-color: transparent; }

.c-radio .custom-control-input:checked ~ .custom-control-label {
  color: #03755e;
  font-weight: 700; }
  .c-radio .custom-control-input:checked ~ .custom-control-label:before {
    border-width: 2px; }
  .c-radio .custom-control-input:checked ~ .custom-control-label:after {
    top: 0.375rem;
    left: -1.5rem;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    background-color: #03755e; }

.c-radio + .c-radio {
  margin-top: 1rem; }

.c-checkbox .custom-control-input:checked:not(:disabled):active ~ .custom-control-label:before {
  background-color: transparent; }

.c-checkbox .custom-control-input:checked ~ .custom-control-label {
  color: #03755e;
  font-weight: 700; }
  .c-checkbox .custom-control-input:checked ~ .custom-control-label:before {
    border-width: 2px; }
  .c-checkbox .custom-control-input:checked ~ .custom-control-label:after {
    top: 0.375rem;
    left: -1.5rem;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 0.125rem;
    background-color: #03755e; }

.c-checkbox + .c-checkbox {
  margin-top: 1rem; }

select.c-select {
  width: auto;
  vertical-align: baseline;
  -moz-appearance: none;
  -webkit-appearance: none; }

.c-range {
  width: 100%;
  padding: 0 0.5rem; }
  .c-range input {
    display: block; }
  .c-range .marks {
    display: flex;
    justify-content: space-between;
    margin-top: 0.25rem;
    font-size: 0.75rem; }
    .c-range .marks span {
      position: relative;
      display: block;
      width: 1rem;
      height: 1.375rem; }
      .c-range .marks span:before {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0.125rem;
        height: 0.4375rem;
        background-color: rgba(34, 34, 34, 0.3);
        content: ''; }
      .c-range .marks span:after {
        position: absolute;
        top: 0.5rem;
        left: 50%;
        transform: translateX(-50%);
        content: attr(data-label); }

.tippy-popper {
  max-width: none !important;
  z-index: 9 !important; }
  .tippy-popper div.tippy-tooltip {
    max-width: none !important; }
  .tippy-popper div.tippy-tooltip.light-theme {
    padding: 1rem;
    font-size: 1rem;
    line-height: inherit;
    color: #222222;
    border-radius: 0.625rem;
    background-color: #fff;
    border: 0.0625rem solid rgba(34, 34, 34, 0.3);
    box-shadow: 0.0625rem 0.0625rem 0.625rem 0 rgba(0, 0, 0, 0.1); }
    .tippy-popper div.tippy-tooltip.light-theme[data-placement^='top'] > .tippy-arrow {
      border-top-color: #fff; }
      .tippy-popper div.tippy-tooltip.light-theme[data-placement^='top'] > .tippy-arrow:after {
        position: absolute;
        top: -0.375rem;
        left: -0.4375rem;
        border: 0.4375rem solid transparent;
        border-top-color: rgba(34, 34, 34, 0.3);
        z-index: -1;
        content: ''; }
    .tippy-popper div.tippy-tooltip.light-theme[data-placement^='bottom'] > .tippy-arrow {
      border-bottom-color: #fff; }
    .tippy-popper div.tippy-tooltip.light-theme[data-placement^='left'] > .tippy-arrow {
      border-left-color: #fff; }
    .tippy-popper div.tippy-tooltip.light-theme[data-placement^='right'] > .tippy-arrow {
      border-right-color: #fff; }
      .tippy-popper div.tippy-tooltip.light-theme[data-placement^='right'] > .tippy-arrow:after {
        position: absolute;
        top: -0.4375rem;
        left: -0.5rem;
        border: 0.4375rem solid transparent;
        border-top-color: rgba(34, 34, 34, 0.3);
        z-index: -1;
        transform: rotate(90deg);
        content: ''; }
    .tippy-popper div.tippy-tooltip.light-theme .tippy-content {
      padding: 0; }

.c-export-tooltip {
  max-width: 21.25rem; }
  .c-export-tooltip legend {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase; }
  .c-export-tooltip .grid-buttons {
    display: flex;
    justify-content: space-between; }
    .c-export-tooltip .grid-buttons input {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border: 0; }
      .c-export-tooltip .grid-buttons input:disabled + label .c-icon {
        opacity: 0.4;
        cursor: not-allowed; }
      .c-export-tooltip .grid-buttons input:checked + label .c-icon use {
        stroke: #03755e;
        fill: #03755e; }
    .c-export-tooltip .grid-buttons label .c-icon {
      width: 2.8125rem;
      height: 2.1875rem;
      cursor: pointer; }
      .c-export-tooltip .grid-buttons label .c-icon use {
        stroke: rgba(34, 34, 34, 0.3);
        fill: transparent; }

.ReactModal__Overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  z-index: 10;
  background-color: rgba(3, 117, 94, 0.7) !important;
  opacity: 0;
  transform: scale(1.15);
  transition: transform 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946), opacity 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946);
  will-change: transform, opacity; }
  .ReactModal__Overlay.ReactModal__Overlay--after-open {
    opacity: 1;
    transform: scale(1);
    transition: transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946), opacity 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946); }

.c-modal {
  position: relative;
  display: flex;
  width: calc(100% - 3rem);
  max-height: calc(100% - 3rem);
  margin: 0 auto;
  padding: 3rem;
  background-color: #fff; }
  .c-modal .close-button {
    position: absolute;
    top: -0.5rem;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.875rem;
    height: 1.875rem;
    padding: 0;
    border-radius: 100%;
    transform: translateY(-100%);
    background: #fff; }
    .c-modal .close-button .c-icon {
      width: 0.625rem;
      height: 0.625rem; }
      .c-modal .close-button .c-icon use {
        fill: currentColor; }
    .c-modal .close-button:hover {
      background: #03755e; }
  .c-modal .content {
    overflow: scroll;
    -webkit-overflow-scrolling: touch; }

.c-tool-download-success-modal {
  max-width: 32.5rem; }

.c-tool-sidebar {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-basis: 18.75rem;
  max-height: 100%;
  margin-right: 3rem; }
  .c-tool-sidebar .c-accordion {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden; }
    .c-tool-sidebar .c-accordion .item {
      margin: 0.5rem 0;
      overflow: hidden;
      flex-shrink: 0; }
      .c-tool-sidebar .c-accordion .item:first-child {
        margin-top: 0; }
      .c-tool-sidebar .c-accordion .item:last-child {
        margin-bottom: 0; }
      .c-tool-sidebar .c-accordion .item.-expanded {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 1; }
        .c-tool-sidebar .c-accordion .item.-expanded > .panel {
          padding: 0.5rem 0;
          overflow: auto; }
      .c-tool-sidebar .c-accordion .item h2 {
        margin: 1.5rem 0 1rem;
        font-family: "Open Sans", serif;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 700; }

/* COLORS */
.c-world-map {
  background-color: transparent;
  -webkit-tap-highlight-color: transparent; }
  .c-world-map .world-map-geography {
    fill: #DEDEDE;
    stroke: #fff;
    stroke-width: 0.2px;
    outline: 0;
    pointer-events: visibleFill; }
    .c-world-map .world-map-geography.-destination {
      fill: #03755E; }
    .c-world-map .world-map-geography.-origin {
      fill: #F1BA30; }
  .c-world-map .world-map-arc {
    fill: transparent;
    stroke: #222;
    stroke-linecap: round;
    outline: 0;
    pointer-events: visibleStroke; }
  .c-world-map .world-map-annotation-text {
    fill: #999;
    font-family: "Open Sans", serif;
    font-size: 13px;
    text-transform: uppercase;
    text-align: right;
    line-height: 0.64;
    letter-spacing: -0.7px;
    pointer-events: none; }
    .c-world-map .world-map-annotation-text + path {
      stroke: #999; }
    .c-world-map .world-map-annotation-text.-label {
      transform: translateY(3px); }

.c-world-map-tooltip {
  background-color: #555;
  padding: 0.625rem 0.9375rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center; }
  .c-world-map-tooltip p {
    color: #fff;
    text-transform: capitalize;
    font-size: 0.875rem; }

.c-tool {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.p-home {
  width: 100vw;
  height: 100vh;
  padding: 3rem; }
  .p-home .l-static-page {
    height: 100%; }

