.l-static-page {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column; }
  .l-static-page > .logo {
    position: absolute;
    right: 0;
    top: -0.875rem;
    transform: translateY(-100%);
    display: block;
    height: 1.25rem; }

.header {
  background-color: #7e56d8;
  padding-inline: 3rem;
  height: 45px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header__logo img {
    width: 136px;
    height: 20.176px; }
  .header__content {
    display: flex;
    align-items: center;
    gap: 36px; }
    .header__content > p {
      margin-bottom: 0;
      color: white;
      font-family: "Open Sans", serif;
      font-size: 0.75rem;
      font-weight: 600;
      letter-spacing: 0.96px;
      text-transform: uppercase; }
    .header__content__name {
      text-transform: uppercase; }
  .header__menu {
    flex-shrink: 0; }
    .header__menu__icon {
      width: 29px;
      height: 29px; }
    .header__menu__content {
      position: fixed;
      padding-block: 10px;
      top: 0;
      right: 0;
      height: 100%;
      z-index: 3;
      transition: all 300ms ease-in-out;
      background-color: white;
      display: flex;
      align-items: center; }
      .header__menu__content.\--open {
        transform: translateX(0); }
      .header__menu__content.\--close {
        transform: translateX(100%); }
      .header__menu__content__wrap {
        min-width: 543px;
        width: 100%;
        min-height: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-inline: 88px;
        gap: 60px; }
        .header__menu__content__wrap__close-btn {
          position: absolute;
          right: 2rem;
          top: 10px; }
          .header__menu__content__wrap__close-btn__icon.c-icon {
            stroke: #222222;
            width: 51px;
            height: 51px;
            stroke-width: 0px; }
        .header__menu__content__wrap__title {
          font: 700 1.875rem "Cardo", sans-serif; }
        .header__menu__content__wrap ul {
          display: flex;
          gap: 28px;
          flex-direction: column;
          padding: 0; }
          .header__menu__content__wrap ul li {
            list-style: none; }
            .header__menu__content__wrap ul li a {
              display: flex;
              align-items: center;
              gap: 16px;
              font: 600 0.875rem "Open Sans", serif;
              text-transform: uppercase;
              color: #222222;
              border-radius: 22px; }
              .header__menu__content__wrap ul li a:hover {
                text-decoration: underline; }
              .header__menu__content__wrap ul li a:focus-visible {
                outline: #7e56d8 auto 1px;
                outline-offset: 8px; }
              .header__menu__content__wrap ul li a div {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center; }
                .header__menu__content__wrap ul li a div .c-icon {
                  width: 22px;
                  height: 22px; }
                  .header__menu__content__wrap ul li a div .c-icon.\--lg {
                    width: 24px;
                    height: 24px; }
        .header__menu__content__wrap__buttons {
          padding-top: 42px;
          display: flex;
          align-items: flex-end;
          gap: 12px;
          font: 600 0.8125rem "Open Sans", serif; }
    .header__menu__mask {
      position: fixed;
      top: 0;
      right: 0;
      transition: opacity 300ms ease-in-out; }
      .header__menu__mask.\--open {
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: #222222;
        z-index: 2;
        opacity: 0.3; }
      .header__menu__mask.\--close {
        opacity: 0;
        z-index: -10; }
  .header .\--transparent.btn.btn-light {
    border: none;
    background-color: transparent;
    box-shadow: none;
    border-radius: 50%; }
    .header .\--transparent.btn.btn-light:active {
      background-color: transparent;
      box-shadow: none; }
  .header .btn:focus-visible {
    outline: #7e56d8 auto 1px;
    outline-offset: 2px; }

.c-icon {
  width: 1.375rem;
  height: 1.375rem;
  fill: #222222; }
  .c-icon.-big {
    width: 2.5rem;
    height: 2.5rem; }

.c-radio .custom-control-input:checked:not(:disabled):active ~ .custom-control-label:before {
  background-color: transparent; }

.c-radio .custom-control-input:checked ~ .custom-control-label {
  color: #7e56d8;
  font-weight: 700; }
  .c-radio .custom-control-input:checked ~ .custom-control-label:before {
    border-width: 2px; }
  .c-radio .custom-control-input:checked ~ .custom-control-label:after {
    top: 0.375rem;
    left: -1.5rem;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    background-color: #7e56d8; }

.c-radio + .c-radio {
  margin-top: 1rem; }

.c-checkbox .custom-control-input:checked:not(:disabled):active ~ .custom-control-label:before {
  background-color: transparent; }

.c-checkbox .custom-control-input:checked ~ .custom-control-label {
  color: #7e56d8;
  font-weight: 700; }
  .c-checkbox .custom-control-input:checked ~ .custom-control-label:before {
    border-width: 2px; }
  .c-checkbox .custom-control-input:checked ~ .custom-control-label:after {
    top: 0.375rem;
    left: -1.5rem;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 0.125rem;
    background-color: #7e56d8; }

.c-checkbox + .c-checkbox {
  margin-top: 1rem; }

select.c-select {
  width: auto;
  vertical-align: baseline;
  -moz-appearance: none;
  -webkit-appearance: none; }

.c-range {
  width: 100%;
  padding: 0 0.5rem; }
  .c-range input {
    display: block; }
  .c-range .marks {
    display: flex;
    justify-content: space-between;
    margin-top: 0.25rem;
    font-size: 0.75rem; }
    .c-range .marks span {
      position: relative;
      display: block;
      width: 1rem;
      height: 1.375rem; }
      .c-range .marks span:before {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0.125rem;
        height: 0.4375rem;
        background-color: rgba(34, 34, 34, 0.3);
        content: ''; }
      .c-range .marks span:after {
        position: absolute;
        top: 0.5rem;
        left: 50%;
        transform: translateX(-50%);
        content: attr(data-label); }

[data-tippy-root] {
  max-width: none !important;
  z-index: 9 !important; }
  [data-tippy-root] .tippy-box {
    max-width: none !important;
    padding: 1rem;
    font-size: 1rem;
    line-height: inherit;
    color: #222222;
    border-radius: 0.625rem;
    background-color: #fff;
    border: 0.0625rem solid rgba(34, 34, 34, 0.3);
    box-shadow: 0.0625rem 0.0625rem 0.625rem 0 rgba(0, 0, 0, 0.1); }
    [data-tippy-root] .tippy-box[data-placement^='top'] > .tippy-arrow {
      border-top-color: #fff; }
      [data-tippy-root] .tippy-box[data-placement^='top'] > .tippy-arrow:after {
        position: absolute;
        top: 1rem;
        left: 0rem;
        border: 0.5rem solid transparent;
        border-top-color: rgba(34, 34, 34, 0.3);
        z-index: -1;
        content: ''; }
    [data-tippy-root] .tippy-box[data-placement^='bottom'] > .tippy-arrow {
      border-bottom-color: #fff; }
    [data-tippy-root] .tippy-box[data-placement^='left'] > .tippy-arrow {
      border-left-color: #fff; }
    [data-tippy-root] .tippy-box[data-placement^='right'] > .tippy-arrow {
      border-right-color: #fff; }
      [data-tippy-root] .tippy-box[data-placement^='right'] > .tippy-arrow:after {
        position: absolute;
        top: -0.4375rem;
        left: -0.5rem;
        border: 0.4375rem solid transparent;
        border-top-color: rgba(34, 34, 34, 0.3);
        z-index: -1;
        transform: rotate(90deg);
        content: ''; }
    [data-tippy-root] .tippy-box .tippy-content {
      padding: 0; }

.c-export-tooltip {
  max-width: 21.25rem; }
  .c-export-tooltip legend {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase; }
  .c-export-tooltip .grid-buttons {
    display: flex;
    justify-content: space-between; }
    .c-export-tooltip .grid-buttons input {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border: 0; }
      .c-export-tooltip .grid-buttons input:disabled + label .c-icon {
        opacity: 0.4;
        cursor: not-allowed; }
      .c-export-tooltip .grid-buttons input:checked + label .c-icon use {
        stroke: #7e56d8;
        fill: #7e56d8; }
    .c-export-tooltip .grid-buttons label .c-icon {
      width: 2.8125rem;
      height: 2.1875rem;
      cursor: pointer; }
      .c-export-tooltip .grid-buttons label .c-icon use {
        stroke: rgba(34, 34, 34, 0.3);
        fill: transparent; }

.c-loading-spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.4); }
  .c-loading-spinner.-transparent {
    background-color: transparent; }
  .c-loading-spinner.-inner {
    position: absolute; }
  .c-loading-spinner.-inline {
    position: relative;
    display: inline-block;
    width: 3.75rem;
    height: 3.75rem;
    vertical-align: text-top;
    z-index: initial; }
  .c-loading-spinner.-mini > svg {
    width: 1.125rem;
    height: 1.125rem; }
  .c-loading-spinner.-mini.-inline {
    width: 1.125rem;
    height: 1.125rem; }
  .c-loading-spinner > svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    height: 3.75rem;
    width: 3.75rem;
    -webkit-animation: rotate 2s linear infinite;
            animation: rotate 2s linear infinite; }
    .c-loading-spinner > svg > circle {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
      -webkit-animation: dash 1.5s ease-in-out infinite;
              animation: dash 1.5s ease-in-out infinite;
      stroke-linecap: round;
      stroke: #7e56d8; }

@-webkit-keyframes rotate {
  100% {
    transform: translate(-50%, -50%) rotate(360deg); } }

@keyframes rotate {
  100% {
    transform: translate(-50%, -50%) rotate(360deg); } }

@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35; }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124; } }

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35; }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124; } }

.ReactModal__Overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  z-index: 10;
  background-color: rgba(126, 86, 216, 0.7) !important;
  opacity: 0;
  transform: scale(1.15);
  transition: transform 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946), opacity 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946);
  will-change: transform, opacity; }
  .ReactModal__Overlay.ReactModal__Overlay--after-open {
    opacity: 1;
    transform: scale(1);
    transition: transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946), opacity 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946); }

.c-modal {
  position: relative;
  display: flex;
  width: calc(100% - 3rem);
  max-height: calc(100% - 3rem);
  margin: 0 auto;
  padding: 3rem;
  background-color: #fff; }
  .c-modal .close-button {
    position: absolute;
    top: -0.5rem;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.875rem;
    height: 1.875rem;
    padding: 0;
    border-radius: 100%;
    transform: translateY(-100%);
    background: #fff; }
    .c-modal .close-button .c-icon {
      width: 0.625rem;
      height: 0.625rem;
      stroke: #222222; }
      .c-modal .close-button .c-icon use {
        fill: currentColor; }
    .c-modal .close-button:hover {
      background: #7e56d8; }
  .c-modal .content {
    overflow: auto;
    -webkit-overflow-scrolling: touch; }

.c-tool-download-success-modal {
  max-width: 32.5rem; }

.c-tool-sidebar {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-basis: 18.75rem;
  max-height: 100%;
  margin-right: 3rem; }
  .c-tool-sidebar .content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden; }
    .c-tool-sidebar .content h1 {
      line-height: 3rem;
      /* 33px */
      font-weight: 700; }
    .c-tool-sidebar .content h2 {
      margin-top: 20px;
      font-weight: 400;
      font-size: 30px; }
    .c-tool-sidebar .content .scrollable-container {
      margin: 0.5rem 0;
      padding: 0.5rem 0;
      overflow: auto; }
    .c-tool-sidebar .content .note {
      margin-top: 0.5rem;
      font-size: 0.8125rem; }
  .c-tool-sidebar .loading-text {
    font-size: 0.875rem; }

.c-tool-ranking {
  width: 15.625rem; }
  .c-tool-ranking .title {
    display: block;
    margin-bottom: 20px;
    font-family: "Open Sans", serif;
    font-size: 1rem;
    font-weight: 700; }
  .c-tool-ranking ul {
    margin: 0;
    padding: 0; }
  .c-tool-ranking__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.25rem;
    font-size: 0.875rem;
    font-size: 12px; }
    .c-tool-ranking__title span:last-of-type {
      color: #7e56d8; }
  .c-tool-ranking__volume {
    display: flex;
    height: 10px; }
    .c-tool-ranking__volume .progress-bar {
      display: block;
      flex-grow: 0;
      flex-shrink: 0; }
    .c-tool-ranking__volume__line {
      position: relative;
      display: block;
      flex-grow: 1;
      border-top: 1px dashed rgba(0, 0, 0, 0.1);
      transform: translateY(50%); }
  .c-tool-ranking__legend {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 4px;
    margin-top: 12px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px; }
  .c-tool-ranking li {
    list-style: none;
    margin-bottom: 0.5rem; }
    .c-tool-ranking li .volume {
      width: 100%; }
    .c-tool-ranking li:last-of-type {
      margin-bottom: 0; }
    .c-tool-ranking li span {
      display: inline-block; }

.c-tool-attributions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.75rem;
  font-style: italic;
  color: #717171; }
  .c-tool-attributions img {
    display: block;
    height: 1.25rem; }
  .c-tool-attributions span {
    display: inline-block;
    padding: 0.25rem 0 0.25rem 0.25rem; }
    .c-tool-attributions span a {
      color: currentColor; }

.c-world-map {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  overflow: hidden; }
  .c-world-map.exporting {
    align-items: flex-start; }
  .c-world-map .exporting-message {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    text-transform: uppercase;
    z-index: 4; }
  .c-world-map .container-width {
    width: min(100%, calc((100vh - 6rem) * 1 / 0.6666)); }
  .c-world-map .container-ratio {
    position: relative;
    width: 100%;
    padding-top: 66.66%;
    overflow: hidden; }
    .c-world-map .container-ratio > .title {
      display: flex;
      justify-content: center;
      min-width: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1.625rem;
      background-color: #fff;
      font-weight: 700;
      text-transform: uppercase; }
      .c-world-map .container-ratio > .title span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
        .c-world-map .container-ratio > .title span:not(.shrink) {
          flex-shrink: 0; }
  .c-world-map .map-container {
    display: flex;
    align-items: center;
    position: absolute;
    top: 1.625rem;
    left: 0;
    width: 100%;
    height: calc(100% - 3.25rem);
    padding: 0 1rem;
    background-color: #fff;
    -webkit-tap-highlight-color: #fff;
    border: 0.0625rem solid rgba(0, 0, 0, 0.1); }
    .c-world-map .map-container .world-map-geography {
      outline: 0;
      pointer-events: visibleFill; }
    .c-world-map .map-container .world-map-arc {
      outline: 0;
      pointer-events: visibleStroke; }
    .c-world-map .map-container .c-tool-ranking {
      flex-shrink: 0;
      margin-inline: 1rem; }
  .c-world-map .c-tool-attributions {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.625rem;
    background-color: #fff;
    padding: 10px; }

.c-world-map-tooltip {
  display: flex;
  flex-direction: column;
  width: 9.375rem;
  text-align: center;
  justify-content: center; }
  .c-world-map-tooltip p {
    margin-bottom: 0.25rem;
    font-size: 0.8125rem; }
    .c-world-map-tooltip p:last-of-type {
      margin-bottom: 0; }

.c-tool-trase-link {
  margin-left: 16px;
  margin-top: 32px;
  width: 100%; }
  .c-tool-trase-link a {
    display: flex;
    gap: 12px;
    align-items: center; }
    .c-tool-trase-link a span {
      color: #444242;
      font-size: 0.875rem;
      font-weight: 600;
      -webkit-text-decoration-color: rgba(0, 0, 0, 0.2);
              text-decoration-color: rgba(0, 0, 0, 0.2); }

.c-tool {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.p-home {
  width: 100%;
  height: calc(100% - 45px);
  padding: 3rem; }

