@import 'css/settings';

.c-tool-ranking {
  width: rem(250);

  .title {
    display: block;
    margin-bottom: 20px;
    font-family: $font-family-1;
    @include font-size($font-size-base);
    font-weight: $font-weight-bold;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: map-get($spacers, 1);
    font-size: $font-size-m;
    font-size: 12px;
    span:last-of-type {
      color: $primary;
    }
  }

  &__volume {
    display: flex;
    height: 10px;
    .progress-bar {
      display: block;
      flex-grow: 0;
      flex-shrink: 0;
    }
    &__line {
      position: relative;
      display: block;
      flex-grow: 1;
      border-top: 1px dashed rgba($black, 0.1);
      transform: translateY(50%);
    }
  }

  &__legend {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba($black, 0.1);
    padding-top: 4px;
    margin-top: 12px;
    color: rgba($black, 0.5);
    font-size: 12px;
  }

  li {
    list-style: none;
    margin-bottom: map-get($spacers, 2);

    .volume {
      width: 100%;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    span {
      display: inline-block;
    }
  }
}
